@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');   

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(https://gstatic.gvn360.com/2020/05/street_night_city_buildings_140672_1920x1080.jpg) ;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #090925;
    z-index: 1;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

nav .navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .nav-links {
    height: 100%;
    line-height: 50px;
}

nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    font-family: 'Assistant', sans-serif;
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    transition: all 0.3s ease;
}

.navbar .nav-links .links li:hover .lesson-arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background: #090925;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar .nav-links .links .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav-links .links .sub-menu li a {
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .links li:hover  {
    display: block;
    background:#303057; /* maybe */

}

.navbar .nav-links .links li:hover .lesson-sub-menu {
    display: block;
    background:#4a4b7b; /* maybe */
}

.navbar .nav-links .links li:hover .lesson-sub-menu {
    display: block;
}

.navbar .login-box,
.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .login-box:hover{
    background:#303057;
}
.navbar .search-box:hover  {
display: block;
    background:#303057; /* maybe */

}

.navbar .login-box i,
.navbar .search-box i {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.navbar .search-box .input-box {
    height: 60px;
    width: 330px;
    background: #090925;
    position: absolute;
    top: 80px;
    right: calc(100% - 40px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.navbar.showInput .search-box .input-box {
    opacity: 1;
    pointer-events: auto;
    top: 65px;
}

.navbar .search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #090925;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.navbar .search-box .input-box input {
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}

.navbar .ti-menu,
.nav-links .sidebar-logo .logo-name,
.nav-links .sidebar-logo .ti-close {
    display: none;
}

.navbar .ti-menu,
.nav-links .sidebar-logo .logo-name,
.nav-links .sidebar-logo .ti-close {
    display: none;
}

@media (max-width: 990px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 26px;
    }

    nav .navbar .nav-links .links li {
        padding: 0 10px;
    }

    nav .navbar .nav-links .links li a {
        font-size: 15px;
    }
}

@media (max-width: 370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

input, 
textarea {
    padding: 15px;
    border-radius: 12px;
}

.container {
    width: 50vw;
    margin: auto;
}

.form-item {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 15px;
    color: #fff;
}

button {
    width: 70%;
    position: relative;
    left: 15%;
    padding: 15px;
    border-radius: 12px;
    margin-top: 15px;
    background: #090925;
    color: #fff;
    font: bold;
    font-size: 17px;
}