@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

html {
    scroll-behavior: smooth;
    background-color: #BBA1AD;
}

/* Bắt đầu header */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #090925;
    z-index: 1;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}

nav .navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}



nav .navbar .nav-links {
    height: 100%;
    line-height: 50px;
}

nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    font-family: 'Assistant', sans-serif;
    height: 100%;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 500;
}

nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    transition: all 0.3s ease;
}

.navbar .nav-links .links li:hover .lesson-arrow {
    transform: rotate(180deg);
}

.navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background: #090925;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar .nav-links .links .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .nav-links .links .sub-menu li a {
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .links li:hover  {
    display: block;
    background:#303057; /* maybe */
}

.navbar .nav-links .links li:hover .lesson-sub-menu {
    display: block;
    background:#4a4b7b; /* maybe */
    
}

.navbar .nav-links .links li:hover .lesson-sub-menu {
    display: block;
}

.navbar .login-box,
.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .login-box:hover{
    background:#303057;
}
.navbar .search-box:hover  {
    display: block;
    background:#303057; /* maybe */
    
}

.navbar .login-box i,
.navbar .search-box i {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.navbar .search-box .input-box {
    height: 60px;
    width: 300px;
    background: #090925;
    position: absolute;
    top: 80px;
    right: calc(100% - 40px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.navbar.showInput .search-box .input-box {
    opacity: 1;
    pointer-events: auto;
    top: 65px;
}

.navbar .search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #090925;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.navbar .search-box .input-box input {
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}

.navbar .ti-menu,
.nav-links .sidebar-logo .logo-name,
.nav-links .sidebar-logo .ti-close {
    display: none;
}

@media (max-width: 990px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 26px;
    }

    nav .navbar .nav-links .links li {
        padding: 0 10px;
    }

    nav .navbar .nav-links .links li a {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    nav .navbar .nav-links {
        font-family: 'Assistant', sans-serif;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 270px;
        width: 100%;
        background: #090925;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
        z-index: 100;
    }

    nav .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .ti-menu,
    .nav-links .sidebar-logo .logo-name,
    .nav-links .sidebar-logo .ti-close {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }

    .navbar .ti-menu,
    .nav-links .sidebar-logo .logo-name,
    .nav-links .sidebar-logo .ti-close {
        display: block;
    }

    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .nav-links .links li {
        display: block;
        border-bottom: none;
    }

    .navbar .nav-links .links .sub-menu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .navbar .nav-links .links .sub-menu li {
        border-bottom: none;
    }

    .navbar .nav-links .links li:hover .lesson-sub-menu {
        display: none;  
    }

    nav .navbar .nav-links .links li .arrow {
        line-height: 40px;
    }

    .navbar .nav-links .links li:hover .lesson-arrow{
        transform: rotate(0deg);
    }

    .navbar .nav-links.show1 .links .sub-menu.lesson-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links li .lesson-arrow {
        transform: rotate(180deg);
    }
}

@media (max-width: 370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

/* xong header */

/* Bắt đầu slider */

.banner
{
    position: relative;
    min-height: 100vh;
    background: url(https://gstatic.gvn360.com/2021/07/Thanh-pho-ve-dem_-4-scaled.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h4 
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

/* Kết thúc slider */
 /* Lesson 1 */
#tinhoc,
#ltweb,
#chuyennganh,
#nangcao,
#coban {
   background: #bd8dba;
}
 
.container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
 
.card {
   background: #fff;
   width: 300px;
   margin: 50px;
   border-radius: 15px;
}
 
.card-image {
   height: 300px;
   margin-bottom: 15px;
   background-size: cover;
   border-radius: 15px 15px 0 0;
}
 
.coban1 {
   background-image: url(../image/coban1.png);
}
 
.coban2 {
   background-image: url(../image/coban2.png);
}
 
.coban3 {
   background-image: url('https://media.discordapp.net/attachments/942604239509811230/954275655569268797/unknown.png');
}
 
.coban4 {
   background-image: url('https://media.discordapp.net/attachments/942604239509811230/954349445896605726/unknown.png');
}
 
.coban5 {
   background-image: url('https://media.discordapp.net/attachments/942604239509811230/954349585621454898/unknown.png');
}

.nangcao1 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954275655569268797/unknown.png');
}

.nangcao2 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954350397890363402/unknown.png');
}

.nangcao3 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954351874893574184/unknown.png');
}

.nangcao4 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954352181715271750/unknown.png');
}

.nangcao5 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954352560230236201/unknown.png');
}

.chuyennganh1 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954353843272044564/unknown.png');
}

.chuyennganh2 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954354268356354088/unknown.png');
}

.chuyennganh3 {
    background-image: url('https://media.discordapp.net/attachments/942604239509811230/954354640542117918/unknown.png');
}

.card h2 {
    text-align: center;
    font-size: 1.2rem;
}
  
.card p {
    padding: 10px;
}
  
.card a {
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
}
  
.card a:hover {
    background-color: #090925; 
}
.headingwhite {
    font-family: 'Lobster', cursive;
    color: #090925;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
 /* end Lesson 1 */


/* Bắt đầu nút back to top */
.ti-arrow-up {
    background: #fff;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.ti-arrow-up.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/* Kết thúc nút back to top */

/* Bắt đầu Contact */

#contact {
    padding: 50px 50px 10px;
}

#contact h2 {
    text-align: center;
}

.mt-8 {
    margin-top: 8px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.contact-content {
    margin-top: 48px;
}   

.contact-info {
    font-size: 18px;
    line-height: 1.4;    
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px; 
}

.contact-form #subject,
.contact-form #message,
.contact-form #email,
.contact-form #name {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form #btn {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

/* Kết thúc Contact */

/* Banner 2 */

.banner2
{
    position: relative;
    min-height: 60vh;
    background: url(https://gstatic.gvn360.com/2021/07/Thanh-pho-ve-dem_-21.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ket thuc Banner2 */


.banner3
{
    position: relative;
    min-height: 60vh;
    background: url(https://gvn360.com/wp-content/uploads/2020/05/Gearvn_th%C3%A0nh-ph%E1%BB%91-v%E1%BB%81-%C4%91%C3%AAm_-32-1024x576.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* footer */
/* Footer */

.container-footer {
    max-width: 1170px;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #24262B;
    padding: 70px 0;
  }
  
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E91E63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
  }
  
  @media(max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }